<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>{{ htmlWebpackPlugin.options.title }}</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/styles/tomorrow.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.min.css">
    {{#each htmlWebpackPlugin.files.css}}
      <link rel="stylesheet" href="{{ this }}">
    {{/each}}
  </head>
  <body>
    <app></app>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/highlight.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/markdown-it/6.0.2/markdown-it.min.js"></script>
    {{#each htmlWebpackPlugin.files.js}}
      <script src="{{ this }}"></script>
    {{/each}}
  </body>
</html>
